
#container {

border: 2px	solid red;




}


#boiteune {	

border: 2px	solid green;
border-top-width: 100px;
    border-right-width: 20px;
    border-left-width: 10px;
    border-bottom-width: 40px;
}



}


#boitedeux {	
border: 2px	solid blue;

}